{{page-title "Details"}}

<BreadcrumbsItem>
  <strong>
    Details
  </strong>
</BreadcrumbsItem>

<AuDataTable
  @content={{this.model.results}}
  @noDataMessage="No reports" as |s|
>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Validation results

            <AuHeading @skin="5">
              <p>
                PREFIX ex: http://example.com/ns#
              </p>
            </AuHeading>
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title">
        Focus node
      </th>
      <th class="data-table__header-title">
        Property 
      </th>
      <th class="data-table__header-title">
        Value
      </th>
      <th class="data-table__header-title">
        Error message
      </th>
      <th class="data-table__header-title">
        Source constraint
      </th>
      <th class="data-table__header-title">
        Result Severity
      </th>
       <th class="data-table__header-title">
        Source Shape
      </th>
      <th class="data-table__header-title">
        Source Constraint Component
      </th>
    </c.header>
    <c.body as |validationResult|>
      <td>
        {{validationResult.transformFocusNode}}
      </td>
      <td>
        {{validationResult.transformResultPath}}
      </td>
      <td>
        {{validationResult.transformValue}}
      </td>
      <td>
        {{ validationResult.transformResultMessage }}
      </td>
      
      <td>
        {{validationResult.sourceConstraint}}
      </td>
      <td>
        {{if validationResult.resultSeverity validationResult.resultSeverity ""}}
      </td>
      <td>
        {{if validationResult.sourceShape validationResult.sourceShape ""}}
      </td>
      <td>
        {{if validationResult.sourceConstraintComponent validationResult.sourceConstraintComponent ""}}
      </td>
    </c.body>
  </s.content>
</AuDataTable>