<AuDataTable
  @content={{this.model}}
  @noDataMessage="No reports" as |s|
>
  <s.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Validation reports
          </AuHeading>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </s.menu>
  <s.content as |c|>
    <c.header>
      <th class="data-table__header-title">
        Id
      </th>
      <th class="data-table__header-title">
        Is valid?
      </th>
      <th class="data-table__header-title">
        Shapes graph well formed?
      </th>
      <th class="data-table__header-title"></th>
    </c.header>
    <c.body as |validationReport|>
      <td>
        {{validationReport.id}}
      </td>
      <td>
        {{if validationReport.conforms "Yes" "No"}}
      </td>
      <td>
        {{validationReport.shapesGraphWellFormed}}
      </td>
      <td>
        <LinkTo
          class="au-c-link"
          @route="validation-reports.details"
          @model={{validationReport.id}}
        >
          View
        </LinkTo>
      </td>
    </c.body>
  </s.content>
</AuDataTable>